.header {
    background-color: #003580;
    display: flex;
    justify-content: center;
    color: whitesmoke;
    position: relative;
}

.headerContainer {
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px;
}

.headerList {
    display: flex;
    gap: 40px;
}

.headerListItem {
    display: flex;
    gap: 10px;
    align-items: center;
}

.headerListItem.active {
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
}

.headerTitle {
    margin-top: 50px;
    font-weight: 800;
    font-size: 48px;
}

.headerDisc {
    margin: 4px 0px;
    font-size: 24px;
}

.headerSearch {
    height: 30px;
    border: 3px solid #febb02;
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    position: absolute;
    bottom: -25px;
    width: 100%;
    max-width: 1024px;
}

.headerIcon {
    color: lightgrey;
}

.headerSearchItem {
    display: flex;
    align-items: center;
    gap: 10px;
}

.headerSearchInput {
    border: none;
    outline: none;
}

.headerSearchText {
    color: lightgray;
    cursor: pointer;
}

.headerSearchItemBtn {
    background-color: #003580;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.date{
    position: absolute;
    top: 50px;
}
.options{
    position: absolute;
    top: 50px;
    background-color: white;
    color:#003580;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px -5px rgb(0,0,0,0.4);
    box-shadow: 0px 0px 10px -5px rgb(0,0,0,0.4);
}

.optionsItem{
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.optionCounter{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: #003580;
}

.optionCounterbtn{
    width: 30px;
    height: 30px;
    border: 1px solid #1454ad;
    color: #1454ad;
    cursor: pointer;
    background-color: white;
}

.optionCounterbtn:disabled{
    cursor: not-allowed;
}

