
.navbar{
    height: 50px;
    background-color: #003580;
    display: flex;
    justify-content: center;
}

.navBarContainer{
    width: 100%;
    max-width: 1024px;
    color: #003580;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 23px;
    font-weight: 600;
    color: whitesmoke;
}

.navBarItem{
    display: flex;
    justify-content: space-between;
}

.navButton{
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: #003580;
}

